@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}


header {
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


header nav ul li{
    display: inline-block;
    margin: 10px;
}

.btn, button {
    border: 2px solid #e6bd43;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #e6bd43;
}

.btn:hover, button:hover, #btn-about:hover {
    border: 2px solid #000000;
    background-color: #000000;
    color: #e6bd43;
}

.btn, #btn-about, a:hover {
    cursor: pointer;
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: black;
}

h1 {
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

strong {
    font-weight: 900;
    border-bottom: #e6bd43 2px solid;
}

section {
    height: auto;
}

p {
    line-height: 1.5;
}


/* INDEX */

#intro {
    position: relative;
    text-align: center;
}

#intro video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}

#intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-text p {
    margin-bottom: 30px;
} 


#startinfo {
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 50px 0;
}

#about {
    display: flex;
    flex-direction: row;
    background-color: #e6bd43;
    padding: 100px;
    margin: auto;
}

#about img {
    margin-right: 50px;
}

.text-box {
    padding-top: 50px;
}

#about p {
    margin: 20px 0px 40px 0;
    line-height: 1.8;
}

#about h3 {
    font-weight: 800;
}

#btn-about {
    border: 2px solid #000000;
    padding: 10px 15px;
    font-weight: 700;
}

#services {
    text-align: center;
    padding: 50px 0;
    margin: 30px 0;
}

#grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.service-box-grid {
    height: 150px;
    width: 250px;
    padding: 20px;
    margin: auto;
}

.service-box-grid h3 {
    padding: 20px 0;
}

#newsletter {
    background-color: #F3F0F1;
    text-align: center;
    padding: 70px 0;
}

form input {
    border: none;
    padding: 15px 15px;
}

form button {
    padding: 13px 15px;
}

/* ABOUT PAGE */

.about-hoved {
    position: relative;
}

.about-hoved img {
    width: 100%;
    object-fit: cover;
}

.about-text {
    position: absolute;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 20px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

}

.about-text p{
    margin-bottom: 30px;
}

.about-text h3 {
    margin: 10px 0;
}

.service-box-grid i {
    font-size: 30px;
}

#service-box-grid h3 {
    margin: 10px 0;
}

.clients {
    background-color: #e6bd43;
    text-align: center;
    padding: 50px;
}

.clients ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients ul li {
    margin: 20px;
}

.clients h2 {
    padding-bottom: 20px;
}

#contact {
    text-align: center;
    padding-top: 50px;
    background-color: #f2f0f0;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    text-align: start;
    padding: 50px 150px;
}

.contact-info form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.8;
}

.contact-info form input {
    background-color: #fff;
    border: none;
    padding: 15px 15px;
}

.contact-info form button {
    margin-top: 8px;
    width: 200px;
}

.contact-info form textarea {
    border: none;
}
.contact-info form label {
    padding: 10px 0;
}

.contact-info h3 {
    padding-bottom: 10px;
}

.contact-info1 p {
    margin: 15px 0;
}

.contact-info1 ul li i {
    font-size: 18px;
    margin-right: 25px;
    line-height: 2;
}


/* PORTFOLIO */
#portfolio {
    position: relative;
    text-align: center;
}

#portfolio h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}

.port-h2 {
    padding: 30px 0;
    font-weight: 800;
    border-bottom: #e6bd43 3px solid;;
}

#explore {
    margin: 20px 40px;
}

#previous ul li {
    display: inline-block;
    margin: 40px 0;
}

.btn-portfolio {
    border: 2px solid #000000;
    padding: 10px 15px;
    margin-right: 20px;
}

.btn-portfolio:hover {
    border: 1px solid #000000;
    background-color: #000000;
    color: #e6bd43;

}

#design {
    margin: 20px 40px;
}

#design-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 30px 0;
}


#design-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dev {
    margin: 20px 40px;
}


#dev-grid {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 40px 0;
}

#dev-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#branding {
    margin: 20px 40px;
}

#branding-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    margin: 40px 0;
}

#branding-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#item4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 3;
}

#branding-grid article:hover {
    transform: scale(1.1);
}


/* FOOTER */

footer {
    background-color: #252525;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

footer ul li{
    display: inline-block;
    margin: 10px;
    font-size: 30px;
    padding: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width:700px){
    /*body {
        font-size: 1rem;
    } */

    main {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    nav {
        font-size: 18px;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        display: flex;
        justify-content: center;
    }

    /* INDEX */
    #about {
        flex-direction: column;
        padding: 80px;
    }

    #about img {
        width: 100%;
        height: auto;
    }

    .service-box-grid {
        font-size: 16px;
        height: auto;

    }

    /* ABOUT */

    .about-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    .client {
        flex-direction: column;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .contact-info1 {
        width: 100%;
    }


    /* PORTFOLIO */
    #branding-grid , #design-grid, #dev-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #item4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #branding-grid article:hover {
        transform: none;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width:700px) and (max-width:1000px){

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .service-box-grid {
        font-size: 16px;
        width: 100%;
        max-width: 200px;
        height: auto;
    }
}